<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387232458367-0lff042jj564hhgvbr5bedoul37t84mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387232458367-0lff042jj564hhgvbr5bedoul37t84mb</string>
	<key>API_KEY</key>
	<string>AIzaSyDDB6bciq0tEAGsml0vRJnq4ONg4_ml1KM</string>
	<key>GCM_SENDER_ID</key>
	<string>387232458367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>learn-firebase-77</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-firebase-77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387232458367:ios:2e6311b8c45de45cad014a</string>
	<key>DATABASE_URL</key>
	<string>https://learn-firebase-77.firebaseio.com</string>
</dict>
</plist>